
.all {
    min-width: 800px;
    min-height: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(36, 37, 38);
    height: 550px; /* Cố định chiều cao của .all */
    overflow: hidden; /* Ẩn nội dung khi vượt quá kích thước */
    position: relative; /* Cho phần input-text dựa vào vị trí tương đối của .all */
}

.list-comment {
    overflow-y: auto; /* Tạo thanh cuộn dọc cho phần list-comment khi nội dung vượt quá kích thước */
    height: calc(100% - 90px); /* Chiều cao tối đa của list-comment là chiều cao của .all trừ đi chiều cao của input-text */
    // height: 550px;
}

.comment {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
   

}
.cmt-content{
    max-width: 550px;
     background-color: rgb(58, 59, 60); 
      border-radius: 15px;  padding: 10px;
      position: relative;
}


.comment img, .input-text img , .reply-content img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
   
}

.comment h4 {
    margin-top: 0;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;

}

.comment p {
    font-weight: 500;
    margin-bottom: 0;
    color: white;
      white-space: pre-wrap; /* Cho phép xuống hàng tự động */
    word-wrap: break-word; /* Tách các từ khi cần thiết */  
}

.time {
    font-size: 12px;
    color: #666;
}


.nested-comment {
    margin-top: 10px;
    margin-left: 50px;
}


.deep-nested-comment {
    margin-top: 10px;
    margin-left: 100px;
}


.input-text {
    display: flex;
    margin-top: 20px;
    align-items: center;
    position: absolute; /* Đặt phần input-text tại vị trí tuyệt đối trong .all */
    bottom: 20px; /* Khoảng cách từ dưới cùng của .all */
    width: calc(100% - 40px); /* Chiều rộng của input-text là chiều rộng của .all trừ đi các phần padding */
    left: 20px; /* Khoảng cách từ mép trái của .all */
    z-index: 1; /* Đảm bảo phần input-text hiển thị trên phần list-comment */
    background-color: rgb(36, 37, 38);
    border-top: 1px solid #666;
    padding-top: 10px;
}

.inptextarea {
    flex: 1; /* Kích thước textarea mở rộng theo chiều ngang */
    height: 60px;
    min-height: 50px; /* Đặt chiều cao tối thiểu cho textarea */
    padding: 10px; /* Thêm padding cho textarea */
    border: 1px solid #ccc; /* Đặt viền cho textarea */
    border-radius: 15px; /* Bo tròn góc cho textarea */
    font-size: 16px; /* Đặt kích thước chữ cho textarea */
    resize: vertical; /* Cho phép chỉnh sửa kích thước theo chiều dọc */
    background-color: rgb(58, 59, 60);
    // color: ;
    font-weight: 300;
    
}

.inptextarea:focus {
    outline: none; /* Xóa đường viền khi textarea được chọn */
    border-color: #4c60af; /* Đổi màu viền khi textarea được chọn */
}


.divXemThem{
    background-color: rgb(74, 75, 77); 

    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: auto 0 auto 10px;

// line-height: 3;
text-align: center; /* Căn giữa chiều ngang */
display: flex;
justify-content: center; /* Căn giữa chiều dọc */
align-items: center; /* Căn giữa chiều dọc */

position: relative;
}


.divXemThem:hover{
    cursor: pointer;
}


.optionsxemthem{
    position: absolute;
    top: 35px;
    right: -78px;
    background-color:  rgb(48, 51, 54); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: start;
    width: 200px;
    z-index: 2;
}

// .optionsxemthem ul {
//     padding: 10px;
// }
.optionsxemthem ul li {
    margin: 10px;
    padding-left: 10px;
    list-style: none;
    height: 30px;
    display: flex;
    align-items: center; /* Căn giữa chiều dọc */
    border-radius: 5px;
}

.optionsxemthem ul li:hover {
    background-color: rgb(71, 73, 75); 
}

#iconSend{
    font-size: 20px;
    margin: 0 18px;
}

#iconSend:hover{
    cursor: pointer;
    color: #6679c6;
}


.reply-content {
    display: flex;
    margin: 0 0 10px 50px;
    align-items: center;
   
 
    width: 400px; /* Chiều rộng của input-text là chiều rộng của .all trừ đi các phần padding */
   
   
    background-color: rgb(36, 37, 38);
    position: relative;
   
}
.cancleReply{
    position: absolute;
    top: -4px;
    right: 53px;
    font-size: 15px;
    color: white;
    background-color: rgb(48, 51, 54); 
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    border: solid 0.5px white  ;
}

.cancleEdit{
    position: absolute;
    top: -4px;
    right: 0px;
    font-size: 15px;
    color: white;
    background-color: rgb(48, 51, 54); 
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    border: solid 0.5px white  ;
}
.inpEdit {
    flex: 1; /* Kích thước textarea mở rộng theo chiều ngang */
    height: 60px;
    min-height: 50px; /* Đặt chiều cao tối thiểu cho textarea */
    padding: 10px; /* Thêm padding cho textarea */
    border: none; /* Đặt viền cho textarea */
    border-radius: 15px; /* Bo tròn góc cho textarea */
    font-size: 16px; /* Đặt kích thước chữ cho textarea */
    resize: vertical; /* Cho phép chỉnh sửa kích thước theo chiều dọc */
    background-color: rgb(58, 59, 60);
    outline: none; /* Xóa đường viền khi textarea */
    font-weight: 300;
    
}


.noCmt{height: 100%;
    text-align: center; /* Căn giữa chiều ngang */
display: flex;
justify-content: center; /* Căn giữa chiều dọc */
align-items: center; /* Căn giữa chiều dọc */

}

.noCmt h2{
    color: #666;
}

.list-comment::-webkit-scrollbar {
    width: 12px; /* Chiều rộng của thanh cuộn */
}

.list-comment::-webkit-scrollbar-thumb {
    background-color: rgb(108, 108, 110); /* Màu sắc của thanh cuộn */
    border-radius: 6px; /* Bo tròn góc của thanh cuộn */
}

.list-comment::-webkit-scrollbar-track {
    background-color: rgb(44, 45, 47); /* Màu sắc của nền thanh cuộn */
}
