<div class="login-container" style="background-color: black; padding-top: 30px;">
  <div class="login-title">Create Your Account</div>
  <div class="signup-form">
    <div class="login-form-inner">
      <form #registerForm="ngForm">

        <div class="form-item">
          <div class="login-form-inner-title">
            Enter your fullname
          </div>
          <input type="text" placeholder="Enter your fullname" name="name-register" [(ngModel)]="fullname"/>
          <p class="text-danger" style="color: red;"
             *ngIf="fullname.length < 6 && registerForm.controls['name-register'].touched">Name should be at
            least 6 characters long</p>
        </div>

        <div class="form-item">
          <div class="login-form-inner-title">Enter your email</div>
          <input type="text" placeholder="Enter your email" name="email-register" [(ngModel)]="email"
                 #emailInput="ngModel" [ngClass]="{'is-invalid': emailInput.invalid && emailInput.touched}" required
                 email/>
          <p class="text-danger" style="color: red;" *ngIf="!emailInput.valid && emailInput.touched">Please
            enter a valid email address</p>
        </div>

        <div class="form-item">
          <div class="login-form-inner-title">Enter your password</div>
          <input type="password" placeholder="Enter your password" name="password-regis" [(ngModel)]="password"/>
          <p class="text-danger" style="color: red;"
             *ngIf="password.length < 6 && registerForm.controls['password-regis'].touched">Password should
            be
            at least 6 characters long</p>
        </div>

        <div class="form-item">
          <div class="login-form-inner-title">Re-Enter your password</div>
          <input type="password" placeholder="Enter your password" name="password-regis-confirm"
                 [(ngModel)]="retypePassword"/>
          <p class="text-danger" style="color: red;"
             *ngIf="retypePassword !== password && registerForm.controls['password-regis-confirm'].touched">
            Passwords do not match</p>
        </div>

        <div class="form-item">
          <div class="login-form-inner-title">Enter your date of birth</div>
          <input type="date" placeholder="Enter your birthday" name="birthday" [(ngModel)]="birthday" required
                 id="date-of-birth" (input)="registerForm.form.markAsTouched(); checkAge()"/>
          <div class="divider-nospace"></div>

          <p class="text-danger" style="color: red;" *ngIf="registerForm.controls['birthday']?.hasError('invalidAge')
                        && registerForm.form.touched">
            You must be at least 18 years old
          </p>
        </div>

        <button class="login-button" id="signup-btn" (click)="register()">Continue</button>
        <button class="login-button-social" (click)="dangnhap()">
          <i class="fa-solid fa-circle-info"></i><span><a>I Already Have
              Account</a></span>
        </button>
      </form>
    </div>
  </div>
  <div class="login-footer">
    <div class="login-footer-first">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 1400">
        <defs>
          <style>
            .cls-1 {
              fill: gray
            }
          </style>
        </defs>
        <rect class="cls-1" x="551.64" y="127.08" width="300" height="300" rx="150"/>
        <path class="cls-1"
              d="M700,1239.56H700c-193.28,0-350-156.69-350-350v-.06c0-193.29,156.69-350,350-350H700c193.28,0,350,156.68,350,350v.06C1050,1082.87,893.31,1239.56,700,1239.56Zm150-350h0a150,150,0,0,0-150-150h0a150,150,0,0,0-150,150h0a150,150,0,0,0,150,150h0A150,150,0,0,0,850,889.56Z"/>
      </svg>
      Â© 2023 OneSound Music
    </div>
    <div class="login-footer-second">
      <a href="">Privacy Notice</a>
      <a href=""> Terms and Conditions</a>
      <a href=""> Cookie Settings</a>
      <a href="">Accessibility Statement</a>
      <a href=""> Contact</a>
    </div>
  </div>
</div>
