<section class="">
  <div class="">
    <div class="artist is-verified">
      <div class="artist__header">
        <div class="artist__info">
          <div class="profile__img">
            <img src="{{ singer.image }}"/>
          </div>

          <div class="artist__info__meta">
            <div class="artist__info__type">Artist</div>

            <div
              class="artist__info__name"
              style="font-size: 25px; font-weight: bolder"
            >
              {{ singer.fullname }}
            </div>

            <!--            <div class="artist__info__actions">-->
            <!--              <button class="button-dark">-->
            <!--                <i class="ion-ios-play"></i>-->
            <!--                Play-->
            <!--              </button>-->

            <!--              <button class="button-light">Follow</button>-->

            <!--              <button class="button-light more">-->
            <!--                <i class="ion-ios-more"></i>-->
            <!--              </button>-->
            <!--            </div>-->
          </div>
        </div>


        <div class="artist__navigation">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a
                href="#artist-overview"
                aria-controls="artist-overview"
                role="tab"
                data-toggle="tab"
              >Overview</a
              >
            </li>
          </ul>


        </div>
      </div>

      <div class="artist__content">
        <div class="tab-content">
          <!-- Overview -->
          <div role="tabpanel" class="tab-pane active" id="artist-overview">
            <div class="overview">
              <div class="overview__artist">
                <!-- Latest Release-->
                <div class="section-title">Latest Release</div>

                <div class="latest-release" *ngIf="songs && songs.length > 0"
                     (click)="showDetail(songs[songs.length - 1])">
                  <div class="latest-release__art">
                    <img
                      src="{{ songs[songs.length - 1].image }}"
                      alt="{{ songs[songs.length - 1].name }}"
                    />
                  </div>

                  <!-- Chỉ hiển thị phần tử cuối cùng của mảng -->
                  <div class="latest-release__song">
                    <div class="latest-release__song__title">
                      {{ songs[songs.length - 1].name }}
                    </div>

                    <div class="latest-release__song__date">
                      <span class="month">{{
                          songs[songs.length - 1].release_date
                        }}</span>
                    </div>
                  </div>
                </div>
                <div class="latest-release" *ngIf="albums && albums.length > 0">
                  <div class="latest-release__art">
                    <img
                      src="{{ albums[albums.length - 1].image }}"
                      alt="{{ albums[albums.length - 1].title }}"
                    />
                  </div>

                  <!-- Chỉ hiển thị phần tử cuối cùng của mảng -->
                  <div class="latest-release__song">
                    <div class="latest-release__song__title">
                      {{ albums[albums.length - 1].title }}
                    </div>

                    <div class="latest-release__song__date">
                      <span class="month">{{ qtt }} songs</span>
                    </div>
                    <div class="album__actions">
                      <button
                        class="button-light save"
                        (click)="gotoDetailAlbum(albums[albums.length - 1])"
                      >
                        Detail
                      </button>
                    </div>
                  </div>
                </div>
                <!-- / -->

                <!-- Popular-->
                <div class="section-title">Popular</div>
                <div class="tracks">
                  <div
                    class="track"
                    *ngFor="
                      let song of songs
                        | paginate
                          : {
                              itemsPerPage: pageSize,
                              currentPage: p,
                              id: 'CountUser'
                            };
                      let i = index
                    "
                    (click)="this.showDetail(song)"
                  >
                    <div class="track__art">
                      <img src="{{ song.image }}"/>
                    </div>

                    <!-- <div class="track__number">{{ i + 1 }}</div> -->

                    <div class="track__added">
                      <i class="ion-checkmark-round added"></i>
                    </div>
                    <div class="track__title">{{ song.name }}</div>

                    <div class="track__explicit">

                      <span
                        *ngFor="
                          let singer of singerMap[song.id];
                          let last = last
                        "
                      > {{
                          singer.fullname
                        }}{{
                          !last && singerMap[song.id].length > 1 ? ", " : ""
                        }}</span
                      >
                    </div>

                    <div class="track__plays">147,544,165</div>
                  </div>
                </div>

                <!-- <button class="show-more button-light">Show 5 More</button> -->
                <div class="text-center">
                  <pagination-controls
                    (pageChange)="p = $event"
                    id="CountUser"
                  ></pagination-controls>
                </div>
                <!-- / -->
              </div>

              <div class="overview__related">
                <div class="section-title">Related Artists</div>

                <div class="related-artists" *ngFor="let item of singers">
                  <a href="/onesound/home/profile/{{item.id}}" class="related-artist">
                    <span class="related-artist__img">
                      <img src="{{ item.image }}"/>
                    </span>

                    <span class="related-artist__name">{{
                        item.fullname
                      }}</span>
                  </a>
                </div>
              </div>

              <div class="overview__albums">
                <div class="overview__albums__head">
                  <span class="section-title">Albums</span>

                  <span class="view-type">
                    <i class="fa fa-list list active"></i>

                    <i class="fa fa-th-large card"></i>
                  </span>
                </div>

                <div class="album">
                  <div
                    class="album__info"
                    *ngFor="
                      let item of albums
                        | paginate
                          : {
                              itemsPerPage: pageSize,
                              currentPage: p,
                              id: 'CountAlbum'
                            }
                    "
                  >
                    <div class="album__info__art">
                      <img src="{{ item.image }}" alt="When It's Dark Out"/>
                    </div>

                    <div class="album__info__meta">
                      <div class="album__year">{{ item.releaseYear }}</div>

                      <div class="album__name mt-3 mb-3">
                        {{ item.title }}
                      </div>
                      <div
                        style="color: rgb(135, 135, 135); font-weight: lighter"
                      >
                        <span
                          *ngFor="
                            let singer of singerAlbumMap[item.id];
                            let i = index
                          "
                        >
                          {{ singer.fullname }}
                          <ng-container
                            *ngIf="i < singerAlbumMap[item.id].length - 1"
                          >
                            {{ ", " }}
                          </ng-container>
                        </span>
                      </div>

                      <div class="album__actions">
                        <button
                          class="button-light save"
                          (click)="gotoDetailAlbum(item)"
                        >
                          Detail
                        </button>

                        <button class="button-light more">
                          <i class="ion-ios-more"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <pagination-controls
                      (pageChange)="p = $event"
                      id="CountAlbum"
                    ></pagination-controls>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div class="content__right">-->
  <!--    <div class="social">-->
  <!--      <div class="friends" *ngFor="let item of users">-->
  <!--        <a href="#" class="friend">-->
  <!--          <i class="ion-android-person"></i>-->
  <!--          {{ item.fullname }}-->
  <!--        </a>-->
  <!--      </div>-->

  <!--      <button class="button-light">Find Friends</button>-->
  <!--    </div>-->
  <!--  </div>-->
</section>
