<div class="container">
  <!-- Form to create a new playlist -->
  <h2 class="text-warning">TITLE: {{this.data.song.name}}</h2>
  <hr>
  <div class="form-group">
    <label for="playlistName">Playlist Name:</label>
    <input type="text" id="playlistName" placeholder="Enter playlist name">
    <button class="m-3">Create New Playlist</button>
  </div>
  <hr>
  <table>
    <thead>
    <tr>
      <th>Action</th>
      <th>Playlist</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <button>Add</button>
      </td>
      <td class="playlistCol">Playlist 1</td>
    </tr>
    <tr>
      <td>
        <button>Add</button>
      </td>
      <td>Playlist 2</td>
    </tr>
    <tr>
      <td>
        <button>Add</button>
      </td>
      <td>Playlist 3</td>
    </tr>
    <tr>
      <td>
        <button>Add</button>
      </td>
      <td>Playlist 4</td>
    </tr>
    </tbody>
  </table>

</div>
