<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4 text-uppercase">Album management</h6>
        <form>

          <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" id="title" name="title" [(ngModel)]="album.title" class="form-control">
            <span *ngIf="errorFieldsArr.includes('title')" class="text-warning">*Please enter the
              album title</span>
          </div>

          <div class=" mb-3">
            <label>Release year</label>
            <select class="form-select year" id="year" name="year" [(ngModel)]="album.releaseYear"
              aria-label="Floating label select example">
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" name="description" aria-label="With textarea" rows="5"
              [(ngModel)]="album.description"></textarea>
            <span *ngIf="errorFieldsArr.includes('description')" class="text-warning">*Please enter
              the description of the album.</span>

          </div>

          <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
          <label class="form-label">Album image</label>
          <div class="file-upload">
            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
              Image
            </button>

            <div class="image-upload-wrap">
              <input class="file-upload-input" type='file' #fileInput (change)="onFileSelected($event)"
                accept="image/*" />

              <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
              </div>
            </div>
            <div class="file-upload-content">
              <img class="file-upload-image" [src]="imageUrl" alt="your image" />
              <!--              <img class="file-upload-image" src="#" alt="your image"/>-->
              <div class="image-title-wrap">
                <!--                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span>-->
                <!--                </button>-->
                <button type="button" (click)="removeUpload()" class="remove-image">Remove <span
                    class="image-title">Uploaded Image</span>
                </button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Singer</label>
            <!-- <input #searchSinger type="text" class="form-control mb-4 border-light border-2"
              style="border-radius: 20px;" placeholder="Search"> -->

            <input type="text" class="form-control mb-4 border-light border-2" style="border-radius: 20px;"
              placeholder="Search" matInput [matAutocomplete]="autoC" [formControl]="formcontrol" />
            <mat-autocomplete autoActiveFirstOption #autoC>
              <mat-option (click)="addSingertoTable(item)" *ngFor="let item of filterOptions | async"
                value="{{item}}">{{item}}</mat-option>

            </mat-autocomplete>



            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">No. </th>
                  <th scope="col">Fullname</th>
                  <!--                  <th scope="col">Desc</th>-->
                  <th scope="col">Image</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let singer of singerTable, let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ singer.fullname }}</td>
                  <!--                  <td>{{ singer.description }}</td>-->
                  <td><img src="{{singer.image }}" width="70" height="70" alt="{{singer.image}}"></td>
                  <td>
                    <button (click)="deleteSingerInTable(singer.id)" class="btn btn-outline-danger w-50">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="d-flex justify-content-between mt-4">
            <button (click)="createAlbum()" type="submit" class="btn btn-primary me-2 col mb-4">Save</button>
            <button (click)="updateAlbum(album.id)" type="submit" class="btn btn-warning me-2 col mb-4">Update</button>
            <button (click)="deleteAlbum(album.id)" type="submit" class="btn btn-danger me-2 col mb-4">Delete</button>
            <button (click)="resetForm()" type="submit" class="btn btn-warning me-2 col mb-4">Reset</button>


          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">ALBUM LIST</h6>
        <input type="text" class="form-control mb-4 border-light border-2" style="border-radius: 20px"
          placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="search()" />

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">IMAGE</th>
              <th scope="col">TITLE</th>
              <th scope="col">RELEASE YEAR</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="albums.length > 0; else noDataMessage">
            <tr
              *ngFor="let album of albums | paginate: { itemsPerPage: pageSize, currentPage: pU,  id: 'albumActive' }; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td><img src="{{album.image }}" width="70" height="70" alt="{{album.image}}"></td>
              <td>{{ album.title}}</td>
              <td>{{ album.releaseYear}}</td>
              <td>
                <button (click)="getAlbum(album.id)" class="btn btn-outline-info w-50">Detail</button>
                <button (click)="deleteAlbum(album.id)" class="btn btn-outline-danger w-50">Delete</button>
              </td>
            </tr>

          </tbody>

          <ng-template #noDataMessage>
            <tr>
              <td colspan="4">
                <p class="text-center text-danger">No data available.</p>
              </td>
            </tr>
          </ng-template>
        </table>
        <div class="text-center" *ngIf="albums.length > 0" style="color:white">
          <pagination-controls (pageChange)="pU = $event" id="albumActive"></pagination-controls>
        </div>
        <br>
        <hr>
        <br>
        <h6 class="mb-4">INACTIVE LIST</h6>
        <!-- <input type="text" class="form-control mb-4 border-light border-2" style="border-radius: 20px"
          placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="search()" /> -->

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">IMAGE</th>
              <th scope="col">TITLE</th>
              <th scope="col">RELEASE YEAR</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="inactiveList.length > 0; else noDataMessage2">
            <tr
              *ngFor="let album of inactiveList | paginate: { itemsPerPage: pageSize, currentPage: pI,  id: 'albumInactive' }; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td><img src="{{album.image }}" width="70" height="70" alt="{{album.image}}"></td>
              <td>{{ album.title}}</td>
              <td>{{ album.releaseYear}}</td>
              <td>
                <button (click)="restore(album.id)" class="btn btn-outline-success w-50">Restore</button>

              </td>
            </tr>

          </tbody>

          <ng-template #noDataMessage2>
            <tr>
              <td colspan="4">
                <p class="text-center text-danger">No data available.</p>
              </td>
            </tr>
          </ng-template>
        </table>
        <div class="text-center" *ngIf="inactiveList.length > 0" style="color:white">
          <pagination-controls (pageChange)="pI = $event" id="albumInactive"></pagination-controls>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Form End -->
