<div class="detail-container">
  <div class="detail-container-banner" id="category-detail">


    <div class="detail-container-banner-favicon">
      <div class="detail-container-banner-favicon-cta">
        <button>
          <i class="fa-solid fa-play"></i>Play
        </button>
        <button>
          <i class="fa-solid fa-shuffle"></i>Shuffle
        </button>
      </div>
      <div class="detail-container-banner-favicon-more">
        <div class="more-item">
          <i class="fa-regular fa-heart"></i>
          Add
        </div>
        <div class="more-item">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
          Share
        </div>
        <div class="more-item">
          <i class="fa-solid fa-ellipsis"></i>
          More
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-tracks">
  <div class="list-tracks-form-search">
    <input type="search" name="search-music" id="" placeholder="Filter playlist on title, artist or album"
           class="search" />
    <div class="icon-search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>TITLE</th>
      <th>ARTIST</th>
      <th>LISTS</th>
      <th>TIME</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="list-songs-detail">
    <tr *ngFor="let song of PlaylistSong">

      <td><img src="{{ song.song?.image }}" alt="" width="100px"></td>

      <td>
        <div class="table-title">
          <div class="line-clamp">{{ song.song?.name }}</div>
        </div>
      </td>
      <td>
        <div class="table-title">
          <div class="line-clamp">{{ song.song?.id }} >-------------------------------------------------------</div>
        </div>
      </td>
      <td>{{song.playlist?.name}}</td>
      <td>POP</td>
      <td>3:15</td>
      <td>
        <i class="fa-solid fa-trash-alt"
           (click)="removeSongFromPlaylist(song.playlist?.id ?? 0,song.song?.id ?? 0)"></i>
      </td>
    </tr>
    </tbody>
    <tbody id="list-songs-detail">
    <tr *ngFor="let song of songsInPlaylist">
      <td><img src="{{ song.youtube.thumbnails }}" alt="" width="100px"></td>

      <td>
        <div class="table-title">
          <div class="line-clamp">{{ song.youtube?.title }}</div>
        </div>
      </td>
      <td>{{ song.youtube?.channelTitle }}</td>
      <td>POP</td>
      <td>3:15</td>
      <td>
        <i class="fa-solid fa-trash-alt"
           (click)="removeSongFromPlaylist(song.playlist?.id ?? 0,song.song?.id ?? 0)"></i>
      </td>
    </tr>
    </tbody>

  </table>
</div>
