<div class="detail-container">
  <div class="detail-container-banner" id="category-detail">
    <div class="detail-container-banner-first">
      <img src="assets/img/client/explore/How_to_clear_Spotify_queue.png" alt=""/>
      <div class="detail-container-banner-content">
        <h1>{{ this.currentPlaylist?.name }}</h1>
        <p>Created by <i style="text-transform: uppercase;">{{ this.acc?.fullname }}</i></p>
        <p>
          The best HIP-HOP tracks of 2023, so far,
          from J.Cole to Eminem.(Cover: ....)
        </p>
        <p>{{ this.PlaylistSong.length }} TRACKS </p>
      </div>
    </div>

    <div class="detail-container-banner-favicon">
      <div class="detail-container-banner-favicon-cta">
        <button>
          <i class="fa-solid fa-play"></i>Play
        </button>
        <button>
          <i class="fa-solid fa-shuffle"></i>Shuffle
        </button>
      </div>
      <div class="detail-container-banner-favicon-more">
        <div class="more-item">
          <i class="fa-regular fa-heart"></i>
          Add
        </div>
        <div class="more-item">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
          Share
        </div>
        <div class="more-item">
          <i class="fa-solid fa-ellipsis"></i>
          More
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-tracks">
  <div class="list-tracks-form-search">
    <!--    <input type="search" name="search-music" id="" placeholder="Filter playlist on title, artist or album"-->
    <!--      class="search" />-->

    <input type="text" class="search" name="search-music" style="border-radius: 20px" placeholder="Search"
           [(ngModel)]="searchTerm" (ngModelChange)="search()" (keyup)="onKey($event)"/>
    <div class="icon-search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>TITLE</th>
      <!--      <th>ARTIST</th>-->
      <th>LISTS</th>
      <th>TIME</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="list-songs-detail">
    <tr *ngFor="let song of PlaylistSong" (click)="this.showDetail(song.song)">
      <td>
        <img src="{{song.song?.image}}" alt=""/>
      </td>

      <td>
        <div class="line-clamp">{{ song.song?.name }}</div>
      </td>

      <!--      <td>-->
      <!--        <div class="table-title">-->
      <!--          <div class="line-clamp">{{ song.song }}</div>-->
      <!--        </div>-->
      <!--      </td>-->
      <td>POP</td>
      <td>3:15</td>
      <td>
        <i class="fa-solid fa-trash-alt"
           (click)="removeSongFromPlaylist(song.playlist?.id ?? 0,song.song?.id ?? 0)"></i>
      </td>
    </tr>
    <!--    </tbody>-->
    <!--    <tbody id="list-songs-detail">-->
    <tr *ngFor="let song of songsInPlaylist">
      <td><img src="{{ song.youtube.thumbnails }}" alt="" width="100px"></td>

      <td>
        <div class="table-title">
          <div class="line-clamp">{{ song.youtube?.title }}</div>
        </div>
      </td>
      <td>{{ song.youtube?.channelTitle }}</td>
      <td>POP</td>
      <td>3:15</td>
      <td>
        <i class="fa-solid fa-trash-alt"
           (click)="removeYoutubeFromPlaylist(song.playlist?.id ?? 0,song.youtube.id ?? 0)"></i>
      </td>
    </tr>
    </tbody>

  </table>
</div>
<!-- <tbody>
  <tr *ngFor="let song of PlaylistSong">

    <td>{{ song.playlist?.id}}</td>
    <td>{{ song.song?.name}}</td>
    <td>{{ song.song?.album?.title}}</td>

    <td><img src="{{ song.song?.image }}" alt="" width="100px"></td>

    <td>
      <i class="fa-solid fa-trash-alt" (click)="removeSongFromPlaylist(song.playlist?.id ?? 0,song.song?.id ?? 0)"></i>
      &nbsp;&nbsp;
    </td>
  </tr>
  <tr *ngFor="let song of songsInPlaylist">
    <td>{{ song.playlist?.id}}</td>
    <td><img src="{{ song.youtube.thumbnails }}" alt="" width="100px"></td>
    <td>{{ song.youtube.title }}</td>
    <td style="color: rgb(222, 10, 91);">{{ song.youtube.channelTitle }}</td>

    <td>
      <i class="fa-solid fa-trash-alt"
        (click)="removeYoutubeFromPlaylist(song.playlist?.id ?? 0,song.youtube?.id ?? 0)"></i> &nbsp;&nbsp;
    </td>
  </tr>
</tbody> -->
