<div class="detail-container">
  <div class="detail-container-banner" id="category-detail">
    <div class="detail-container-banner-first">
      <img src="assets/img/client/explore/hiphop.png" alt=""/>
      <div class="detail-container-banner-content">
        <h1>{{ this.currentPlaylist?.name }}</h1>
        <p>Created by <i style="text-transform: uppercase;">{{ this.acc?.fullname }}</i></p>
        <p>
          The best HIP-HOP tracks of 2023, so far,
          from J.Cole to Eminem.(Cover: ....)
        </p>
        <p>{{this.songs.length}} TRACKS (4:30:20)</p>
      </div>
    </div>

    <div class="detail-container-banner-favicon">
      <div class="detail-container-banner-favicon-cta">
        <button>
          <i class="fa-solid fa-play"></i>Play
        </button>
        <button>
          <i class="fa-solid fa-shuffle"></i>Shuffle
        </button>
      </div>
      <div class="detail-container-banner-favicon-more">
        <div class="more-item">
          <i class="fa-regular fa-heart"></i>
          Add
        </div>
        <div class="more-item">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
          Share
        </div>
        <div class="more-item">
          <i class="fa-solid fa-ellipsis"></i>
          More
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-tracks">
  <div class="list-tracks-form-search">
    <input type="search" name="search-music" id="" placeholder="Filter playlist on title, artist or album"
           class="search"/>
    <div class="icon-search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>TITLE</th>
      <th>ARTIST</th>
      <th>LISTS</th>
      <th>TIME</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="list-songs-detail">
    <tr *ngFor="let song of songs">
      <td>
        <img src="assets/img/client/keshi.jpg" alt=""/>
      </td>
      <td>
        <div class="table-title">
          <div class="line-clamp">{{ song.song.name }}</div>
        </div>
      </td>
      <td>Keshi</td>
      <td>POP</td>
      <td>3:15</td>
      <td>
        <i class="fa-solid fa-plus" (click)="openDialog(song)"></i>&nbsp;&nbsp;
        <i class="favorite fa-heart" [ngClass]="{'fa-solid': song.isFav === true, 'fa-regular': song.isFav === false}"
           [ngStyle]="{'color': song.isFav === true ? 'rgb(212, 15, 15)' : ''}" (click)="favoriteSong(song)">
        </i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
