<div class="container-fluid position-relative d-flex p-0">
  <!-- Spinner Start -->
  <!--    <div id="spinner"-->
  <!--         class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">-->
  <!--      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">-->
  <!--        <span class="sr-only">Loading...</span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--   Spinner End -->


  <!-- Sidebar Start -->
  <div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
      <a routerLink="/onesound/admin" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary"><img style="width: 120%;" src="assets/img/logo.png" alt=""></h3>
      </a>
      <div class="d-flex align-items-center ms-4 mb-4">
        <div class="position-relative">
          <img class="rounded-circle" src="{{account?.avatar_url}}" alt="" style="width: 40px; height: 40px;">
          <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
          </div>
        </div>
        <div class="ms-3">
          <h6 class="mb-0">{{ account?.fullname }}</h6>
          <h6 class="mb-0">{{ account?.email }}</h6>
          <span>{{ account?.accountRole?.name }}</span>
        </div>
      </div>
      <div class="navbar-nav w-100">
        <!--        <a routerLink="" class="nav-item nav-link active"><i-->
        <a href="onesound/admin" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
        <a routerLink="404" class="nav-item nav-link" routerLink="manage/statictical/report"><i
          class="fa fa-pie-chart me-2"></i>Report</a>
        <a routerLink="404" class="nav-item nav-link" routerLink="manage/album"><i class="fa fa-record-vinyl me-2"></i>Albums</a>
        <a routerLink="404" class="nav-item nav-link" routerLink="manage/artist"><i class="fa fa-table me-2"></i>Artists</a>
        <a routerLink="chart" class="nav-item nav-link" routerLink="manage/genre"><i
          class="fa fa-bars-staggered me-2"></i>Genres</a>
        <a routerLink="chart" class="nav-item nav-link" routerLink="manage/song"><i
          class="fa fa-music me-2"></i>Songs</a>
        <a routerLink="chart" class="nav-item nav-link" routerLink="manage/user"><i class="fa fa-user-circle me-2"></i>Users</a>
        <a routerLink="chart" class="nav-item nav-link" routerLink="manage/author"><i
          class="fa-brands fa-creative-commons-by me-2"></i>Authors</a>
        <hr>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
            class="far fa-file-alt me-2"></i>Others</a>
          <div class="dropdown-menu bg-transparent border-0">
            <a href="onesound/home" class="dropdown-item">Client Side</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- Sidebar End -->


  <!-- Content Start -->
  <div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-2 py-0 mb-2">
      <a href="onesound/admin" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
      </a>
      <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <img class="rounded-circle me-lg-2" src="{{account?.avatar_url}}" alt="" style="width: 40px; height: 40px;">
            <span class="d-none d-lg-inline-flex">{{ account?.fullname }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
            <!--            <a routerLink="/onesound/admin/manage/profile" (click)="profile()" class="dropdown-item">My Profile</a>-->
            <!--            <a href="#" class="dropdown-item">Settings</a>-->
            <a routerLink="/signin" (click)="logout()" class="dropdown-item">Log Out</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->


    <router-outlet></router-outlet>


    <!-- Footer Start -->
    <div class="container-fluid pt-4 px-4">
      <div class="bg-secondary rounded-top p-4">
        <div class="row">
          <div class="col-12 col-sm-6 text-center text-sm-start">
            &copy; <a href="#">NoCopyright</a>, All Right Reserved.
          </div>
          <div class="col-12 col-sm-6 text-center text-sm-end">
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Designed By <a href="https://www.facebook.com/profile.php?id=100008596896656">PHUONG PLUS</a>
            <br>Distributed By: <a href="#" target="_blank">Team Lod</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->
  </div>
  <!-- Content End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
