<!-- Sign Up Start -->
<div class="container-fluid">
  <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">

      <form #registerForm="ngForm" (ngSubmit)="register()">
        <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <a routerLink="/onesound/admin" class="">
              <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>OneSound</h3>
            </a>
            <h3>Change Password</h3>
          </div>

          <div class="form-floating input-group mb-3">
            <input readonly [(ngModel)]="userEmail" type="text" class="form-control text-dark" name="userEmail">
            <label for="password" class="text-dark">Email</label>
          </div>

          <div class="form-floating input-group mb-3">
            <input [(ngModel)]="password" type="{{ showPassword ? 'text' : 'password' }}" required minlength="8"
              class="form-control" id="password" name="password" placeholder="Password">
            <label for="password">New Password</label>
            <button type="button" class="btn btn-secondary input-group-text" (click)="toggleShowPassword()">
              <i class="password-toggle fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </button>
          </div>
          <div class="mb-3 text-warning" *ngIf="registerForm.controls['password'].hasError('minlength')">
            Please enter a password with at least 8 characters.
          </div>
          <div
            *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
            class="mb-3 text-warning">
            Please enter password
          </div>

          <div class="form-floating input-group mb-3">
            <input [(ngModel)]="retypePassword" type="{{ showRePassword ? 'text' : 'password' }}" required minlength="8"
              class="form-control" id="retypePassword" name="retypePassword" placeholder="Password">
            <label for="retypePassword">Retype Password</label>
            <button type="button" class="btn btn-secondary input-group-text" (click)="toggleShowRePassword()">
              <i class="password-toggle fas" [ngClass]="showRePassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </button>
          </div>
          <div class="mb-3 text-warning" *ngIf="registerForm.controls['retypePassword'].hasError('minlength')">
            Please enter a password with at least 8 characters.
          </div>
          <div
            *ngIf="registerForm.controls['retypePassword'].invalid && (registerForm.controls['retypePassword'].dirty || registerForm.controls['retypePassword'].touched)"
            class="mb-3 text-warning">
            Please enter retype password
          </div>

          <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Sign Up End -->