<div class="p-3">
  <hr>
  <!--<div class="detail-container">-->
  <!--  <div class="detail-container-banner" id="category-detail">-->
  <!--    <h3>Your favorite albums</h3>-->
  <!--    <div class="detail-container-banner-first">-->
  <!--      <img src="assets/img/client/explore/hiphop.png" alt=""/>-->
  <!--      &lt;!&ndash;      <img src="assets/img/client/explore/hiphop.png" alt=""/>&ndash;&gt;-->
  <!--      <div class="detail-container-banner-content">-->
  <!--        <h1>{{ this.acc?.fullname }}</h1>-->
  <!--        <p>Created by <i style="text-transform: uppercase;">{{ this.acc?.fullname }}</i></p>-->
  <!--        <p>{{ this.favListSongs.length }} TRACKS </p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

  <div class="popular_song">
    <div class="h3">
      <h3>Your favorite albums</h3>
    </div>
    <div class="pop_song" id="list-categories">
      <li class="songItem" *ngFor="let item of favListAlbums" (click)="gotoDetailAlbum(item.album)">
        <div class="img_play">
          <img src="{{ item.album.image.__zone_symbol__value }}" alt="album"
               style="height: 180px; object-fit: cover"/>
          <i class="bi fa-solid fa-circle-play" i="1"></i>
        </div>
        <h5>
          <p class="line-clamp">Album: {{ item.album.title }}</p>
          <div class="subtitle line-clamp line-2">Date liked: {{ item.likeDate | date: 'yyyy-MM-dd' }}</div>
        </h5>
        <a class="btn btn-outline-danger w-100" (click)="unlike(item.album)">UnLike</a>
      </li>
      <!--  -->
    </div>
  </div>


  <div class="suggested-new-tracks">
    <div class="h3">
      <h3>Your favorite songs</h3>

    </div>
    <table>
      <thead>
      <tr>
        <th></th>
        <th>TITLE</th>
        <th>ARTIST</th>
        <th>ACTION</th>
        <!-- <th>LISTS</th>
        <th>TIME</th> -->
        <th></th>
      </tr>
      </thead>
      <tbody id="list-songs">
      <tr *ngFor="let video of favListYoutubes">
        <td>
          <img [src]="video.youtube.thumbnails" [alt]="video.youtube.title"/>

          <i class="bi fa-solid fa-circle-play"></i>
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">{{ video.youtube.title }}</div>
          </div>
        </td>
        <td>{{ video.youtube.channelTitle }}</td>
        <!-- <td>POP</td>
        <td>3:15</td> -->
        <td>
          <!-- <i class="fa-solid fa-plus"></i>&nbsp;&nbsp; -->
          <i class="fa-solid fa-heart" style="color: rgb(212, 15, 15) ;" (click)="deleFavYoutube(video)"></i>
        </td>
      </tr>
      <tr *ngFor="let song of favListSongs" (click)="this.showDetail(song.song)">
        <td>
          <img src="{{song.song.image}}" alt=""/>
          <i class="bi fa-solid fa-circle-play"></i>
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">{{ song.song.name }}</div>
            <!--           <span class="table-song-type">NEW</span>-->
          </div>
        </td>
        <!--      <td>{{ song.song.name }}</td>-->
        <td>UNKNOWN</td>
        <td>
          <i class="fa-solid fa-heart" style="color: rgb(212, 15, 15) ;" (click)="deleFavSong(song)"></i>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <hr>
</div>
