<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4 text-uppercase">Genre management</h6>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group m-3">
            <label for="name">Genre name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="Genree.name">
          </div>
          <div class="form-group m-3">
            <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                               [(ngModel)]="Genree.description">
<!--            <textarea class="form-control" id="description" name="description"-->
            <!--                      [(ngModel)]="Genree.description">-->
            <!--            </textarea>-->

          </div>
          <div class="form-group m-3">
            <label>Image</label>
            <div class="file-upload">
              <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
                Image
              </button>

              <div class="image-upload-wrap">
                <input class="file-upload-input" type='file' #fileInput (change)="onFileSelected($event)"
                       accept="image/*"/>

                <div class="drag-text">
                  <h3>Drag and drop a file or select add Image</h3>
                </div>
              </div>
              <div class="file-upload-content">
                <img class="file-upload-image" [src]="imageUrl" alt="your image"/>
                <div class="image-title-wrap">
                  <button type="button" (click)="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <!-- <form (ngSubmit)="onSubmit()">

          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" [(ngModel)]="Genree.name">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" class="form-control" [(ngModel)]="Genree.description">
          </div>
          <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
         <div class="file-upload">
            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
              Image</button>

            <div class="image-upload-wrap">
              <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
              <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
              </div>
            </div>
            <div class="file-upload-content">
              <img class="file-upload-image" src="#" alt="your image" />
              <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                    class="image-title">Uploaded Image</span></button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" [(ngModel)]="Genree.image">
          </div>
          <button type="submit" class="btn btn-primary m-2">Create/Update</button>
          <button type="submit" class="btn btn-danger m-2">Delete</button>
          <button type="submit" class="btn btn-warning m-2">Reset</button>
        </form> -->
      </div>
    </div>

    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">GENRES LIST</h6>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let Genre of Genre">
            <th scope="row">{{ Genre.id }}</th>
            <td>{{ Genre.name }}</td>
            <td>{{ Genre.image }}</td>
            <td>{{ Genre.description }}</td>

            <td>
              <button (click)="updateGender(Genre.id)" class="btn btn-info w-100">Update</button>
              <button (click)="deleteGender(Genre.id)" class="btn btn-danger w-100">Delete</button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
<!-- Form End -->
