<table>
    <thead>
        <tr>
            <th>Playlist</th>

            <th>Acc</th>
        </tr>
    </thead>
    <tbody id="list-songs-detail">
        <tr *ngFor="let playlist of playlists">

            <td>
                <div class="table-title">
                    <div class="line-clamp">{{ playlist.name }}</div>
                </div>
            </td>

            <td>

                <i class="fa-solid fa-trash-alt" (click)="deletePlaylist(playlist)"></i> &nbsp;&nbsp;

            </td>

        </tr>
    </tbody>
</table>