<h2>Total</h2>

<!-- <div class="  col-md-2">
    <label for="floatingSelect">Year</label>
    <select class="form-select barYear" id="barYear" name="barYear" [(ngModel)]="barYear"
        aria-label="Floating label select example" (change)="randomize()">

    </select>


</div> -->

<canvas height="500px" width="1000px" baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
</canvas>

<!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">
    Update
</button> -->