<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4 text-uppercase">Song management</h6>
        <form>

          <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control">
          </div>

          <div class="file-upload">
            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
              Image
            </button>

            <div class="image-upload-wrap">
              <input class="file-upload-input" type='file' #fileInput (change)="onFileSelected($event)"
                     accept="image/*"/>
              <input type="text" class="form-control"/>
            </div>
            <div class="mb-3">
              <label class="form-label">Release</label>
              <input type="date" class="form-control calendar-icon-white"/>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Artist</label>
            <input
              type="text"
              class="form-control mb-4 border-light border-2"
              style="border-radius: 20px"
              placeholder="Search"
              matInput
              [matAutocomplete]="autoSinger"
              [formControl]="formcontrol"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoSinger="matAutocomplete"
            >
              <mat-option
                (click)="addSingertoTable(item)"
                *ngFor="let item of filterOptionsSinger | async"
                value="{{ item }}"
              >
                {{ item }}
              </mat-option>
            </mat-autocomplete>
            <!-- Table display for singers -->
            <table class="table table-dark">
              <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Fullname</th>
                <th scope="col">Desc</th>
                <th scope="col">Image</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let singer of singerTable; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ singer.fullname }}</td>
                <td>{{ singer.description }}</td>
                <td>
                  <img
                    src="{{ singer.image }}"
                    width="70"
                    height="70"
                    alt="{{ singer.image }}"
                  />
                </td>
                <td>
                  <button
                    (click)="deleteSingerInTable(singer.id)"
                    class="btn btn-outline-danger w-50"
                  >
                    Delete
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="mb-3">
            <label class="form-label">Album</label>
            <input
              type="text"
              class="form-control mb-4 border-light border-2"
              style="border-radius: 20px"
              placeholder="Search"
              matInput
              [matAutocomplete]="autoAlbum"
              [formControl]="formcontrolAlbum"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoAlbum="matAutocomplete"
            >
              <mat-option
                (click)="addAlbumtoTable(item)"
                *ngFor="let item of filterOptionsAlbum | async"
                value="{{ item }}"
              >
                {{ item }}
              </mat-option>
            </mat-autocomplete>
            <table class="table table-dark">
              <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Title</th>
                <th scope="col">Desc</th>
                <th scope="col">Release</th>
                <th scope="col">Image</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let album of albumTable; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ album.title }}</td>
                <td>{{ album.description }}</td>
                <td>{{ album.releaseYear }}</td>
                <td>
                  <img
                    src="{{ album.image }}"
                    width="70"
                    height="70"
                    alt="{{ album.image }}"
                  />
                </td>
                <td>
                  <button
                    (click)="deleteAlbumInTable(album.id)"
                    class="btn btn-outline-danger w-50"
                  >
                    Delete
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="mb-3">
            <label class="form-label">Author</label>
            <!-- <input #searchSinger type="text" class="form-control mb-4 border-light border-2"
              style="border-radius: 20px;" placeholder="Search"> -->

            <input
              type="text"
              class="form-control mb-4 border-light border-2"
              style="border-radius: 20px"
              placeholder="Search"
              matInput
              [matAutocomplete]="auto"
              [formControl]="formcontrol"
            />
            <mat-autocomplete autoActiveFirstOption #auto>
              <mat-option
                (click)="addSingertoTable(item)"
                *ngFor="let item of filterOptionsSinger | async"
                value="{{ item }}"
              >{{ item }}
              </mat-option
              >
            </mat-autocomplete>

            <table class="table table-dark">
              <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Fullname</th>
                <th scope="col">Desc</th>
                <th scope="col">Image</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let singer of singerTable; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ singer.fullname }}</td>
                <td>{{ singer.description }}</td>
                <td>
                  <img
                    src="{{ singer.image }}"
                    width="70"
                    height="70"
                    alt="{{ singer.image }}"
                  />
                </td>
                <td>
                  <button
                    (click)="deleteSingerInTable(singer.id)"
                    class="btn btn-outline-danger w-50"
                  >
                    Delete
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="file-upload">
            <button
              class="file-upload-btn"
              type="button"
              onclick="$('.file-upload-input').trigger( 'click' )"
            >
              Add Image
            </button>

            <div class="image-upload-wrap">
              <input
                class="file-upload-input"
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                accept="image/*"
              />
              <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
              </div>
            </div>
            <div class="file-upload-content">
              <img
                class="file-upload-image"
                [src]="imageUrl"
                alt="your image"
              />
              <div class="image-title-wrap">
                <button
                  type="button"
                  (click)="removeUpload()"
                  class="remove-image"
                >
                  Remove <span class="image-title">Uploaded Image</span>
                </button>
              </div>
            </div>
            <div class="mt-3">
              <button
                class="file-upload-btn"
                type="button"
                onclick="$('.file-upload-input-audio').trigger( 'click' )"
              >
                Add Audio
              </button>

              <div class="audio-upload-wrap">
                <input
                  class="file-upload-input-audio"
                  type="file"
                  accept="audio/*"
                />
                <div class="drag-text-audio">
                  <h3>Drag and drop a file or select add Audio</h3>
                </div>
              </div>
              <div class="file-upload-content">
                <img class="file-upload-audio" src="#" alt="your audio"/>
                <div class="audio-title-wrap">
                  <button
                    type="button"
                    onclick="removeUpload()"
                    class="remove-file"
                  >
                    Remove <span class="audio-title">Uploaded Audio</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <button
                class="file-upload-btn"
                type="button"
                onclick="$('.file-upload-input-audio').trigger( 'click' )"
              >
                Add Lyrics
              </button>

              <div class="audio-upload-wrap">
                <input
                  class="file-upload-input-audio"
                  type="file"
                  accept="audio/*"
                />
                <div class="drag-text-audio">
                  <h3>Drag and drop a file or select add Lyrics</h3>
                </div>
              </div>
              <div class="file-upload-content">
                <img class="file-upload-audio" src="#" alt="your audio"/>
                <div class="audio-title-wrap">
                  <button
                    type="button"
                    onclick="removeUpload()"
                    class="remove-file"
                  >
                    Remove <span class="audio-title">Uploaded Lyrics</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary fw-bold">Save</button>
            <button class="btn btn-info ms-3 fw-bold">Update</button>
            <button class="btn btn-warning ms-3 fw-bold">Reset</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">SONG LIST</h6>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">*</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Artist</th>
            <th scope="col">Release</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>jhonemail.com</td>
            <td>John</td>
            <td>0328645096</td>
            <td>
              <img [src]="imageUrl" alt="Image"/>
            </td>
            <td>
              <button class="btn btn-primary">Detail</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Form End -->
