* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: #0d0d0d; */
    color: white;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0d0d0d;
}

.header {
    z-index: 2;
    /* background-color: rgba(236, 236, 236, 0); */
    height: 114px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    z-index: 2;
    display: flex;
    align-items: center;
}

.header-logo-svg {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-logo-svg svg {
    width: 40px;
    margin-right: 1rem;
}

.header-logo-svg span {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-family: "Prompt", sans-serif;
    font-weight: bold;
}

.header-navRight {
    z-index: 2;
    /* margin-left: 3rem; */
}

.header-navRight ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-navRight ul li {
    margin-right: 1rem;
    position: relative;
}

.header-navRight ul li:hover a {
    background-color: #55555550;
}

.header-navRight ul li:hover svg {
    background-color: #55555500;
}

.header-navRight ul li:hover span {
    background-color: #55555500;
}

.header-navRight ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 120px;
    height: 42px;
    text-align: center;
}

.header-navRight ul li a svg {
    margin-right: 8px;
    vertical-align: middle;
    width: 1.3rem;
    height: 42px;
}

.header-navRight ul li a span {
    vertical-align: middle;
}

.header-navRight button {
    height: 45px;
    width: 160px;
    background-color: #fff;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.header-navRight button:hover {
    background-color: #acacac;
}

.login-wrapper .login-submenu {

    display: none;


}

.login-wrapper:hover .login-submenu {
    /* display: block; */
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    gap: 0.2rem;
    position: absolute;
    background-color: rgb(243, 243, 243);
    height: 100px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
}

.login-wrapper:hover .login-submenu li a {
    background-color: transparent !important;
}


.login-wrapper .login-submenu li a {
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    width: 200px;
}

.login-submenu li a:hover {
    text-decoration: underline;
}




.banner-container {
    z-index: 1;
    top: -114px;
    position: relative;
    width: 1500px;
    height: 700px;
   
}

.banner-container-content {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(0, 0);
}

.banner-container-content-title {
    width: 750px;
    font-size: 7rem;
    line-height: 7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.banner-container-content-description {
    margin-bottom: 1rem;
    font-weight: bold;
}

.banner-container-content-btn {
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

/* slider */
.slider-container {
    max-width: 1520px;
    width: 100%;
    /* background-color: #acacac; */
}

.slider-content {
    padding-left: 3rem;
    padding-right: 6rem;
    display: flex;
}

.card {
    position: relative;
    /* border-radius: 12px 12px 12px 12px; */
    /* background-color: #bc5a5a; */
    height: 651.25px;
    width: 436px;
    /* margin-right: 14px; */
}

.image-content .overlay {
    z-index: 1;
    position: absolute;
    height: 651.25px;
    width: 436px;
    background-color: #cbc2c200;
    border-radius: 12px;
    transition: 0.5 all ease;
}

.image-content .overlay:hover {
    background-color: #ffffff17;
    filter: blur(5px);
    /* -webkit-filter: blur(8px); */
}

.card-image {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 12px 12px;
}

.card-image .card-img {
    height: 651.25px;
    width: 436px;
    /* object-fit: cover; */
    border-radius: 12px;
}

.card-content {
    position: absolute;
    top: 65%;
    padding-left: 24px;
    padding-right: 24px;
}

.card-content h2 {
    margin-bottom: 8px;
}

.card-content p {
    margin-bottom: 8px;
}

.card-content a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.swiperNavbtn {
    color: white;
    transition: color 0.3 ease;
}

.swiperNavbtn:hover {
    color: #acacac;
}

.swiperNavbtn::before,
.swiperNavbtn::after {
    font-size: 1.5rem;
}

.elevate-sound {
    /* background-color: rgb(193, 193, 193); */
    height: 340px;
    padding-top: 100px;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}

.elevate-sound .elevate-sound-title {
    font-size: 50px;
    margin-bottom: 32px;
}

.sound-info-container {
    max-width: 1520px;
    width: 100%;
    /* background-color: #acacac; */
}

.sound-info-card-wraper {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound-info-card {
    position: relative;
    border-radius: 12px 12px 12px 12px;
    /* background-color: #bc5a5a; */
    height: 550px;
    width: 436px;
    margin-right: 12px;
}

.sound-info-card .overlay {
    z-index: 1;
    position: absolute;
    height: 550px;
    width: 436px;
    /* background-color: #eeeded00; */
    border-radius: 12px;
    transition: 0.5 all ease;
}

.sound-info-card .overlay:hover {
    background-image: linear-gradient(rgba(255, 0, 0, 0),
            rgba(255, 0, 0, 0),
            rgba(78, 78, 78, 0.188));
    filter: blur(5px);
}

.sound-info-card-img {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 12px 12px;
}

.sound-info-card-img img {
    height: 550px;
    width: 436px;
    border-radius: 12px 12px 12px 12px;
}

.sound-info-card-content {
    position: absolute;
    top: 60%;
    padding-left: 24px;
    padding-right: 24px;
}

.sound-info-card-content h1 {
    margin-bottom: 12px;
}

.normal-info {
    display: flex;
    /* background-color: #acacac; */
    margin-bottom: 20px;
}

.normal-info h5 {
    border-radius: 8px;
    width: 84px;
    height: 24px;
    background-color: #55555598;
    text-align: center;
    justify-content: center;
    margin-right: 12px;
    padding-top: 2px;
}

.normal-info p {
    margin-right: 12px;
}

.hifi-info {
    display: flex;
    /* background-color: #acacac; */
    margin-bottom: 20px;
}

.hifi-info h5 {
    border-radius: 8px;
    width: 54px;
    height: 24px;
    color: #23f4e4;
    background-color: #0b3531;
    text-align: center;
    justify-content: center;
    margin-right: 12px;
    padding-top: 2px;
}

.hifi-info p {
    margin-right: 12px;
}

.master-info {
    display: flex;
    /* background-color: #acacac; */
    margin-bottom: 20px;
}

.master-info h5 {
    border-radius: 8px;
    width: 84px;
    height: 24px;
    color: #febd7d;
    background-color: #332619;
    text-align: center;
    justify-content: center;
    margin-right: 12px;
    padding-top: 2px;
}

.master-info p {
    margin-right: 12px;
}

.kbps {
    color: #797979;
}

.discover-innovative-container {
    position: relative;
    /* background-color: #0b3531; */
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* padding: 64px 32px 32px 32px; */
}

.discover-innovative-wrapper {
    border-radius: 12px;
    width: 1332px;
    height: 200px;
    background-color: #28282850;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discover-innovative-left {
    margin-left: 6rem;
}

.discover-innovative-left h2 {
    /* margin-bottom: 0.5rem; */
}

.discover-innovative-left p {
    margin-bottom: 1rem;
}

.discover-innovative-left a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.discover-innovative-right {
    display: flex;
    width: 500px;
    height: 100px;
    /* background-color: #0b3531; */
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: 6rem;
}

.discover-innovative-right img {
    width: 100%;
    height: 100%;
    /* height: 100%; */
    margin-right: 0.5rem;
    transform: scale(0.5);
    opacity: 0.6;
}

.review-container {
    background-color: #28282850;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.review-wrapper {
    width: 1332px;
    height: 600px;
    /* background-color: #28282850; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
}

.review-wrapper h2 {
    margin-bottom: 2rem;
}

.review-wrapper p {
    margin-bottom: 2rem;
}

.review-wrapper img {
    scale: 0.7;
}

.footer {
    margin-top: 32px;
    height: 600px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 32px;
    box-shadow: 2px 0px 3px rgba(110, 110, 110, 0.6);
}

.footer-items {
    width: 100%;
    display: flex;
    margin-bottom: 32px;
    gap: 5%;
}

.footer-item {
    width: 15%;
    margin-right: 1%;
}

.footer-item p {
    padding-bottom: 32px;
    font-size: 20px;
}

.footer-item ul li {
    list-style-type: none;
    padding-bottom: 24px;
    color: gray;
}

.footer-social {
    margin-top: 32px;
    font-size: 30px;
}

.footer-social i {
    margin-right: 16px;
}

.footer-privacy {
    margin-top: 32px;
}

.footer-privacy ul {
    list-style-type: none;
    display: flex;
}

.footer-privacy ul li {
    margin-right: 16px;
    font-weight: bold;
}

.footer-copyright {
    margin-top: 3rem;
    font-size: 15px;
    color: grey;
    height: 70px;
}

/* LOGIN PAGE */
.login-container {
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo-login {
    margin-top: 4rem;
}

.logo-login svg {
    width: 50px;
}

.logo-login {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-family: "Prompt", sans-serif;
    font-weight: bold;
    color: gray;
}

.login-title {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.login-form {
    border-radius: 8px;
    width: 450px;
    height: 665px;
    background-color: #1c2026;
    margin: 0 auto;
    padding: 3rem 3rem;
}

.form-item {
    margin-bottom: 1rem;
}

.login-form-inner-title {
    font-size: 0.8rem;
}

.form-item input {
    width: 100%;
    height: 50px;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid #23f4e4;
    font-size: 1rem;
}

.form-item input[type="text"]:focus,
.form-item input[type="password"]:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #23f4e4;
}

.login-button {
    width: 100%;
    height: 54px;
    background-color: gray;
    margin-top: 1rem;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    color: #000;
    transition: 0.8s ease;
}

.login-button:hover {
    background-color: #23f4e4;
}

.signup-button {
    width: 100%;
    height: 54px;
    background-color: gray;
    margin-top: 1rem;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    color: #000;
    transition: 0.8s ease;
}

.signup-button a {
    text-decoration: none;
}

.signup-button:hover {
    background-color: #23f4e4;
}

.form-item-or {
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.login-button-social,
.goback-button-social {
    width: 100%;
    height: 54px;
    margin-top: 1rem;

    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    color: #ffffff;
    transition: 0.8s ease;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.login-button-social i,
.goback-button-social i {
    margin-right: 2rem;
}

.login-button-social span {
    width: 70%;
    margin-left: 1rem;
}



.login-button-social,
.goback-button-social:hover {
    background-color: gray;
}

.login-footer {
    margin-top: 2rem;
    border-top: 0.5px solid rgb(42, 42, 42);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.login-footer-first {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
    color: gray;
}

.login-footer-first svg {
    width: 30px;
}

.login-footer-second {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 0.4rem;
}

.login-footer-second a {
    font-size: 0.8rem;
    text-decoration: none;
}

.login-footer-second a:hover {
    color: #23f4e4;
    text-decoration: underline;
}

.signup-form {
    border-radius: 8px;
    width: 450px;
    height: 680px;
    background-color: #1c2026;
    margin: 0 auto;
    padding: 3rem 3rem;
}