<div class="login-container">
  <div class="logo-login">
    <a href="index.html" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>
  </div>
  <div class="login-title">Forgot Password</div>
  <div class="login-form">
    <div class="login-form-inner">
      <h3 class="mb-4 text-center"></h3>
      <div class="form-item">
        <div class="login-form-inner-title">
          Enter your email
        </div>
        <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email">
      </div>
      <button id="login-btn" class="login-button" type="button" (click)="Quenmk()">Continue</button>
      <a href="onesound/signin">
        <button class="signup-button">
          Login
        </button>
      </a>
    </div>
  </div>
  <div class="login-footer">
    <div class="login-footer-first">

      © 2023 One Sound
    </div>
    <div class="login-footer-second">
      <a href="">Privacy Notice</a>
      <a href=""> Terms and Conditions</a>
      <a href=""> Cookie Settings</a>
      <a href="">Accessibility Statement</a>
      <a href=""> Contact</a>
    </div>
  </div>
</div>
