<hr>

<div class="container rounded bg-black mt-5 mb-5">
  <div class="row">
<!--    <div class="col-md-3 border-right">-->
<!--      <div class="d-flex flex-column align-items-center text-center p-3 py-5">-->
<!--        <img class="rounded-circle mt-5" width="100%" src="{{ avatar }}"/>-->
<!--      </div>-->
<!--    </div>-->
    <div class="col-md-3 border-right file-upload-content">
      <img class="rounded-circle mt-5 file-upload-image" width="100%" ignorePerformanceWarnings [src]="imageUrl" alt="{{ imageUrl }}" />
<!--      <div class="image-title-wrap">-->
<!--        <button type="button" (click)="removeUpload()" class="remove-image">-->
<!--          Remove <span class="image-title">Uploaded Image</span>-->
<!--        </button>-->
<!--      </div>-->
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <h4 class="text-right">Profile Setting</h4>
        </div>
        <h4 *ngIf="walletConnected">ID Wallet: {{ walletId }}.</h4>
        <h4 *ngIf="walletConnected">Balance: {{ balanceSOL }} SOL</h4>
        <form [formGroup]="userProfileForm">
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Fullname </label>
              <input
                type="text"
                class="form-control"
                placeholder="enter fullname"
                formControlName="fullname"
                [ngClass]="{
                  'is-invalid':
                    userProfileForm.get('fullname')?.invalid &&
                    userProfileForm.get('fullname')?.touched
                }"
              />
              <div
                *ngIf="
                  userProfileForm.get('fullname')?.invalid &&
                  userProfileForm.get('fullname')?.touched
                "
                class="invalid-feedback"
                style="size: 100px; color: red"
              >
                Name is required
              </div>
            </div>

            <div class="col-md-12">
              <label class="labels">Email</label
              ><input
              type="text"
              class="form-control"
              placeholder="enter Email"
              readonly
              type="email"
              formControlName="email"
            />
            </div>

            <div class="col-md-12">
              <label class="labels">Birthday</label
              ><input
              type="text"
              class="form-control"
              placeholder="enter Birthday"
              type="date"
              formControlName="birthday"
            />
            </div>

            <div class="col-md-12">
              <label class="labels">Address</label
              ><input
              type="text"
              class="form-control"
              placeholder="enter address"
              formControlName="address"
            />
            </div>

            <div class="col-md-12">
              <label class="labels">Area</label
              >
<!--              <input-->
              <!--              type="file"-->
              <!--              class="form-control"-->
              <!--              placeholder="enter address line 2"-->
              <!--              value=""-->
              <!--            />-->

              <input class="file-upload-input form-control" type="file" #fileInput (change)="onFileSelected($event)"
                     accept="image/*" />
            </div>
          </div>

          <input
            type="text"
            hidden
            class="form-control"
            [value]="userProfileForm.get('role_id')?.value"
          />
          <input type="text" hidden formControlName="id" class="form-control"/>

          <div class="mt-5 text-center">
            <button
              class="btn btn-warning profile-button"
              style="background: rgb(49, 215, 227);margin: 10px; border-radius: 5px"
              (click)="save()"
              type="button"
            >
              Save Profile
            </button>

            <button
              class="btn btn-warning bg-gradient-to-r from-blue-500 to-red-500 text-white p-2"
              style="margin: 10px; border-radius: 5px"
              (click)="openDialog()"
              type="button"
            >
              Change Password
            </button>
            <button
              *ngIf="!walletConnected"
              class="bg-gradient-to-r from-green-500 to-blue-500 text-white p-2"
              style="margin: 10px; border-radius: 5px"
              (click)="connectToWallet()"
            >
              Connect Wallet
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>
