<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                   width="100%"
                                                                                   src="{{avatar}}">
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>

        </div>
        <form [formGroup]="userProfileForm">


          <div class="row mt-3">
            <div class="col-md-12"><label class="labels">fullname </label>
              <input type="text" class="form-control" placeholder="enter fullname" formControlName="fullname"
                     [ngClass]="{'is-invalid': userProfileForm.get('fullname')?.invalid && userProfileForm.get('fullname')?.touched}">
              <div *ngIf="userProfileForm.get('fullname')?.invalid && userProfileForm.get('fullname')?.touched"
                   class="invalid-feedback" style="size: 100px; color: red;">
                Họ và tên là trường bắt buộc.
              </div>
            </div>


            <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control"
                                                                             placeholder="enter Email" readonly
                                                                             type="email" formControlName="email"></div>

            <div class="col-md-12"><label class="labels">Birthday</label><input type="text" class="form-control"
                                                                                placeholder="enter Birthday" type="date"
                                                                                formControlName="birthday"></div>

            <div class="col-md-12"><label class="labels">address</label><input type="text" class="form-control"
                                                                               placeholder="enter address"
                                                                               formControlName="address"></div>


            <div class="col-md-12"><label class="labels">Area</label><input type="file" class="form-control"
                                                                            placeholder="enter address line 2" value="">
            </div>
          </div>


          <input type="text" hidden class="form-control" [value]="userProfileForm.get('role_id')?.value">
          <input type="text" hidden formControlName="id" class="form-control">


          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" (click)="save()" type="button">Save Profile</button>
          </div>
        </form>


      </div>
    </div>

  </div>
</div>
<!--<link rel="stylesheet" href="profile.css">-->
