<!-- Sign Up Start -->
<div class="container-fluid">
  <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <!--<<<<<<< HEAD-->
      <!--      <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">-->
      <!--        <div class="d-flex align-items-center justify-content-between mb-3">-->
      <!--          <a routerLink="/onesound/admin" class="">-->
      <!--            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>OneSound</h3>-->
      <!--          </a>-->
      <!--          <h3>Sign Up</h3>-->
      <!--        </div>-->
      <!--        <div class="form-floating mb-3">-->
      <!--          <input type="text" class="form-control" id="floatingText" placeholder="jhondoe">-->
      <!--          <label for="floatingText">Full name</label>-->
      <!--        </div>-->
      <!--        <div class="form-floating mb-3">-->
      <!--          <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">-->
      <!--          <label for="floatingEmail">Email address</label>-->
      <!--        </div>-->
      <!--        <div class="form-floating mb-3">-->
      <!--          <input type="text" class="form-control" id="floatingPhone" placeholder="0355787587">-->
      <!--          <label for="floatingPhone">Phone number</label>-->
      <!--        </div>-->
      <!--        <div class="form-floating mb-4">-->
      <!--          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">-->
      <!--          <label for="floatingPassword">Password</label>-->
      <!--        </div>-->
      <!--        <div class="form-floating mb-4">-->
      <!--          <input type="password" class="form-control" id="floatingRePassword" placeholder="Password">-->
      <!--          <label for="floatingRePassword">Repeat Password</label>-->
      <!--        </div>-->
      <!--        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>-->
      <!--        <p class="text-center mb-0">Already have an Account? <a routerLink="/onesound/signin">Sign In</a></p>-->
      <!--      </div>-->
      <!--=======-->

      <form #registerForm="ngForm">
        <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <a routerLink="/onesound/admin" class="">
              <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>OneSound</h3>
            </a>
            <h3>Sign Up</h3>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="fullname" type="text" class="form-control" placeholder="jhondoe"
                   name="fullname" required id="fullname">
            <label for="fullname">Full name</label>

          </div>

          <div class="form-floating mb-3">
            <input [(ngModel)]="email" type="text" class="form-control" id="floatingEmail" name="mail"
                   placeholder="name@example.com">
            <label for="floatingEmail">Email address</label>
          </div>

          <div class="form-floating mb-3">
            <input [(ngModel)]="createdDate" type="date" class="form-control" id="date" name="date"
                   placeholder="Date">
            <label for="date">Date</label>
          </div>


          <div class="form-floating mb-4">
            <input [(ngModel)]="password" type="password" class="form-control" id="floatingPassword"
                   placeholder="Password" name="Password">
            <label for="floatingPassword">Password</label>
          </div>


          <div class="form-floating mb-4">
            <input [(ngModel)]="retypePassword" type="password" class="form-control" id="floatingRePassword"
                   name="retypePassword" placeholder="Password">
            <label for="floatingRePassword">Repeat Password</label>
          </div>
          <button type="button" (click)="register()" class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>
          <p class="text-center mb-0">Already have an Account? <a routerLink="/onesound/signin">Sign In</a></p>

        </div>
      </form>
      <!--&gt;>>>>>> origin/test-->
    </div>
  </div>
</div>
<!-- Sign Up End -->
