<div class="login-container">
  <div class="logo-login">
    <a href="/home/index" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>
  </div>
  <div class="login-title">Create Your Account</div>
  <div class="signup-form">
    <div class="login-form-inner">
      <form method="POST" action="">
        <div class="form-item">
          <input type="hidden" ng-model="form.accountRole.id" ng-init="form.accountRole.id = 'USER'" />
          <div class="login-form-inner-title" ng-model="form.fullname">
            Enter your fullname
          </div>
          <input name="fullname" required="true" type="text" class="form-control" id="usr"
                 placeholder="Your name" ng-model="form.fullname">
        </div>
        <div class="form-item">
          <div class="login-form-inner-title">Enter your email</div>
          <input name="form.email" required="true" type="email" class="form-control" id="email"
                 placeholder="your@gmail.com" ng-model="form.email">
        </div>
        <div class="form-item">
          <div class="login-form-inner-title">Enter your phone number</div>
          <input name="phone_number" required type="text" class="form-control" id="phone_number"
                 placeholder="09155453" ng-model="form.phoneNumber" ng-pattern="/^(0[1-9])+([0-9]{8,9})$/">
          <!-- <h6 ng-show="signupForm.phone_number.$error.pattern">Invalid phone number.</h6> -->
        </div>
        <div class="form-item">
          <div class="login-form-inner-title">Enter your password</div>
          <input name="password" required type="password" placeholder="Enter your password"
                 class="form-control" id="pwd" ng-model="form.password">
        </div>
        <div class="form-item">
          <div class="login-form-inner-title">Re-Enter your password</div>
          <input type="password" class="form-control" placeholder="Enter your re-password"
                 id="confirmation_pwd" ng-model="rePassword">
        </div>
        <button class="login-button" id="signup-btn" ng-click="create()">Continue</button>
        <button class="login-button-social">
          <a style="text-decoration:none; margin-left:15px" th:href="@{/auth/login/form}"> <i
            class="fa-solid fa-circle-info"></i>I Already Have
            Account</a>
        </button>

      </form>
    </div>
  </div>
  <div class="login-footer">
    <div class="login-footer-first">

      © 2023 One Music
    </div>
    <div class="login-footer-second">
      <a href="">Privacy Notice</a>
      <a href=""> Terms and Conditions</a>
      <a href=""> Cookie Settings</a>
      <a href="">Accessibility Statement</a>
      <a href=""> Contact</a>
    </div>
  </div>
</div>
