<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4 text-uppercase">ba</h6>

        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="fullname">First Name</label>
            <input type="text" class="form-control" id="fullname" name="fullname" [(ngModel)]="singer.fullname">
          </div>
          <div class="form-group">
            <label for="description">Last Name</label>
            <input type="text" class="form-control" id="description" name="description"
              [(ngModel)]="singer.description">
          </div>
          <div class="form-group">
            <label for="image">Email Address</label>
            <input type="email" class="form-control" id="image" name="image" [(ngModel)]="singer.image">
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>

    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">ARTIST LIST</h6>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Email</th>
              <th scope="col">FullName</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let singer of singers">
              <th scope="row">{{singer.id}}</th>
              <td>{{singer.fullname}}</td>
              <td>{{singer.description}}</td>
              <td>{{singer.image}}</td>
              <td>
                <button (click)="updateSinger(singer.id)" class="btn btn-info">Update</button>
                <button (click)="deleteSinger(singer.id)" class="btn btn-danger">Delete</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
<!-- Form End -->