<div class="explore">
    <div class="h3">
        <h3>Explore your vibes</h3>
    </div>
    <div class="explore-card" id="list-categories-singlepage">
        <li class="explore-card">
            <div class="img_play">
                <img src="assets/img/client/explore/hiphop.png" alt="alan" />
                <i class="bi fa-solid fa-circle-play" i="1"></i>
            </div>
            <h5>
                <p class="line-clamp">HIPHOP: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="explore-card">
            <div class="img_play">
                <img src="assets/img/client/explore/electronic.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="8"></i>
                <!-- change All id  -->
            </div>
            <h5>
                <p class="line-clamp">
                    Electronic: Best of 2023
                </p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="explore-card">
            <div class="img_play">
                <img src="assets/img/client/explore/indie.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="9"></i>
            </div>
            <h5>
                <p class="line-clamp">Indie: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="explore-card">
            <div class="img_play">
                <img src="assets/img/client/explore/jazz.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="10"></i>
            </div>
            <h5>
                <p class="line-clamp">Jazz: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="explore-card">
            <div class="img_play">
                <img src="assets/img/client/explore/metal.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="11"></i>
            </div>
            <h5>
                <p class="line-clamp">Metal: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="explore-card">
            <div class="img_play">
                <img src="assets/img/client/explore/pop.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="12"></i>
            </div>
            <h5>
                <p class="line-clamp">POP: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="explore-card">
            <div class="img_play">
                <img src="assets/img/client/explore/randb.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="13"></i>
            </div>
            <h5>
                <p class="line-clamp">R&B: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="explore-card">
            <div class="img_play">
                <img src="assets/img/client/explore/rising.png" alt="alan" />
                <i class="bi fa-solid fa-circle-play"></i>
            </div>
            <h5>
                <p class="line-clamp">RISING: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="explore-card">
            <div class="img_play">
                <img src="assets/img/client/explore/rock.png" alt="alan" />
                <i class="bi fa-solid fa-circle-play"></i>
            </div>
            <h5>
                <p class="line-clamp">Rock: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="explore-card">
            <div class="img_play">
                <img src="assets/img/client/explore/viral.png" alt="alan" />
                <i class="bi fa-solid fa-circle-play"></i>
            </div>
            <h5>
                <p class="line-clamp">Viral: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
    </div>
</div>