<div class="popular_song">
    <div class="h3">
        <h3>Explore your vibes</h3>
        <div class="btn_s">
            <i id="left_scroll" class="fa-solid fa-circle-chevron-left"></i>
            <i id="right_scroll" class="fa-solid fa-circle-chevron-right"></i>
        </div>
    </div>
    <div class="pop_song" id="list-categories">
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/explore/hiphop.png" alt="alan" />
                <i class="bi fa-solid fa-circle-play" i="1"></i>
            </div>
            <h5>
                <p class="line-clamp">HIPHOP: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/explore/electronic.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="8"></i>
                <!-- change All id  -->
            </div>
            <h5>
                <p class="line-clamp">
                    Electronic: Best of 2023
                </p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/explore/indie.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="9"></i>
            </div>
            <h5>
                <p class="line-clamp">Indie: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/explore/jazz.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="10"></i>
            </div>
            <h5>
                <p class="line-clamp">Jazz: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/explore/metal.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="11"></i>
            </div>
            <h5>
                <p class="line-clamp">Metal: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/explore/pop.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="12"></i>
            </div>
            <h5>
                <p class="line-clamp">POP: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/explore/randb.png" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="13"></i>
            </div>
            <h5>
                <p class="line-clamp">R&B: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/explore/rising.png" alt="alan" />
                <i class="bi fa-solid fa-circle-play"></i>
            </div>
            <h5>
                <p class="line-clamp">RISING: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/explore/rock.png" alt="alan" />
                <i class="bi fa-solid fa-circle-play"></i>
            </div>
            <h5>
                <p class="line-clamp">Rock: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/explore/viral.png" alt="alan" />
                <i class="bi fa-solid fa-circle-play"></i>
            </div>
            <h5>
                <p class="line-clamp">Viral: Best of 2023</p>

                <div class="subtitle line-clamp line-2">
                    Created by: QMUSIC
                </div>
            </h5>
        </li>
    </div>
</div>

<div class="popular_song">
    <div class="h3">
        <h3>Mixed for you</h3>
        <div class="btn_s">
            <i id="left_scroll" class="fa-solid fa-circle-chevron-left"></i>
            <i id="right_scroll" class="fa-solid fa-circle-chevron-right"></i>
        </div>
    </div>
    <div class="pop_song">
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/mix1.jpg" alt="alan" />
                <i class="bi fa-solid fa-circle-play" i="1"></i>
            </div>
            <h5>
                <p class="line-clamp">My mix 1</p>

                <div class="subtitle line-clamp line-2">
                    Alan Walker, Taylor Swift, Eddie Thomson,
                    Kayle
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/mix2.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="8"></i>
                <!-- change All id  -->
            </div>
            <h5>
                <p class="line-clamp">My mix 2</p>

                <div class="subtitle line-clamp line-2">
                    J. Cole, Kaliii, 21 Savage and more
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/mix3.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="9"></i>
            </div>
            <h5>
                <p class="line-clamp">My mix 3</p>

                <div class="subtitle line-clamp line-2">
                    Keshi, XG, Joji and more
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/mix4.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="10"></i>
            </div>
            <h5>
                <p class="line-clamp">My mix 4</p>

                <div class="subtitle line-clamp line-2">
                    Kendrick Lamar, Logic, Childish Gambino and
                    more
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/mix5.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="11"></i>
            </div>
            <h5>
                <p class="line-clamp">My mix 5</p>

                <div class="subtitle line-clamp line-2">
                    Dove Cameron, Sabrina Carpenter, Taylor
                    Swift and more
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/mix6.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="12"></i>
            </div>
            <h5>
                <p class="line-clamp">My mix 6</p>

                <div class="subtitle line-clamp line-2">
                    ASTN, Daniel Caesar, Omar Apollo and more
                </div>
            </h5>
        </li>
    </div>
</div>

<div class="suggested-new-tracks">
    <div class="h3">
        <h3>Suggested new tracks</h3>
        <div class="btn_s">
            <button>VIEW ALL</button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>TITLE</th>
                <th>ARTIST</th>
                <th>LISTS</th>
                <th>TIME</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="list-songs">
            <!-- <tr>
                <td>
                    <img src="assets/img/client/keshi.jpg" alt="" />
                    <i class="bi fa-solid fa-circle-play" ></i>
                </td>
                <td>
                    <div class="table-title">
                        <div class="line-clamp">Limbo</div>
                        <span class="table-song-type"
                            >MASTER</span
                        >
                    </div>
                </td>
                <td>Keshi</td>
                <td>POP</td>
                <td>3:15</td>
                <td>
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
                    <i class="fa-regular fa-heart"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/client/whatitis.jpg" alt="" />
                    <i class="bi fa-solid fa-circle-play" ></i>
                </td>
                <td>
                    <div class="table-title">
                        <div class="line-clamp">What it is</div>
                        <span class="table-song-type"
                            >MASTER</span
                        >
                    </div>
                </td>
                <td>Doechi</td>
                <td>Hip Hop</td>
                <td>3:12</td>
                <td>
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
                    <i class="fa-regular fa-heart"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <img
                        src="assets/img/client/norolemodelz.jpg"
                        alt="" />
                        <i class="bi fa-solid fa-circle-play" ></i>
                </td>
                <td>
                    <div class="table-title">
                        <div class="line-clamp">
                            No role modelz
                        </div>
                        <span class="table-song-type"
                            >MASTER</span
                        >
                    </div>
                </td>
                <td>J. Cole</td>
                <td>Hip Hop</td>
                <td>3:12</td>
                <td>
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
                    <i class="fa-regular fa-heart"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <img
                        src="assets/img/client/swimmingpools.jpg"
                        alt="" />
                        <i class="bi fa-solid fa-circle-play" ></i>
                </td>
                <td>
                    <div class="table-title">
                        <div class="line-clamp">
                            Swimming Pools (Drank)
                        </div>
                        <span class="table-song-type"
                            >MASTER</span
                        >
                    </div>
                </td>
                <td>Kendrick Lamar</td>
                <td>Hip Hop</td>
                <td>3:12</td>
                <td>
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
                    <i class="fa-regular fa-heart"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/client/1-800.jpg" alt="" />
                    <i class="bi fa-solid fa-circle-play" ></i>
                </td>
                <td>
                    <div class="table-title">
                        <div class="line-clamp">
                            1-800-273-8255
                        </div>
                        <span class="table-song-type"
                            >MASTER</span
                        >
                    </div>
                </td>
                <td>Logic, Alessia Cara, Khalid</td>
                <td>Hip Hop</td>
                <td>3:12</td>
                <td>
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
                    <i class="fa-regular fa-heart"></i>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>

<div class="popular_song">
    <div class="h3">
        <h3>Suggested new album</h3>
        <div class="btn_s">
            <i id="left_scroll" class="fa-solid fa-circle-chevron-left"></i>
            <i id="right_scroll" class="fa-solid fa-circle-chevron-right"></i>
        </div>
    </div>
    <div class="pop_song">
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/album/taylor.jpg" alt="alan" />
                <i class="bi fa-solid fa-circle-play" i="1"></i>
            </div>
            <h5>
                <p class="line-clamp">Speak Now</p>

                <div class="subtitle line-clamp line-2">
                    Taylor Swift
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/album/conway.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="8"></i>
                <!-- change All id  -->
            </div>
            <h5>
                <p class="line-clamp">
                    Conway The Machine Present
                </p>

                <div class="subtitle line-clamp line-2">
                    Conway The Machine
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/album/sunburn.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="9"></i>
            </div>
            <h5>
                <p class="line-clamp">Sunburn</p>

                <div class="subtitle line-clamp line-2">
                    Dominice Fike
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/album/lifedivided.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="10"></i>
            </div>
            <h5>
                <p class="line-clamp">
                    Down The Spiral Of A Soul
                </p>

                <div class="subtitle line-clamp line-2">
                    A life Divided
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/album/reflection.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="11"></i>
            </div>
            <h5>
                <p class="line-clamp">Reflections Revisited</p>

                <div class="subtitle line-clamp line-2">
                    ILUITEQ
                </div>
            </h5>
        </li>
        <li class="songItem">
            <div class="img_play">
                <img src="assets/img/client/album/mistake.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="12"></i>
            </div>
            <h5>
                <p class="line-clamp">
                    Mistakes & Contradictions
                </p>

                <div class="subtitle line-clamp line-2">
                    Eyelar
                </div>
            </h5>
        </li>
    </div>
</div>