<div class="detail-container">
  <div class="detail-container-banner" id="category-detail">
    <div class="detail-container-banner-first">
      <img src="assets/img/client/explore/How_to_clear_Spotify_queue.png" alt=""/>
      <div class="detail-container-banner-content">
        <h1>{{ this.account?.fullname }}</h1>
        <p>Created by <i style="text-transform: uppercase;">{{ this.account?.fullname }}</i></p>
        <p>{{ this.playlists.length }} PLAYLISTS </p>
      </div>
    </div>
  </div>
</div>

<div class="list-tracks">
  <!--  <div class="list-tracks-form-search">-->
  <!--    <input type="search" name="search-music" id="" placeholder="Filter playlist on title, artist or album"-->
  <!--           class="search"/>-->
  <!--    <div class="icon-search">-->
  <!--      <i class="fa-solid fa-magnifying-glass"></i>-->
  <!--    </div>-->
  <!--  </div>-->
  <!---->
  <hr>

  <div class="popular_song">
    <div class="h3">

      <h3>Explore your playlists</h3>
      <div class="btn_s">
        <i id="left_scroll" class="fa-solid fa-circle-chevron-left"></i>
        <i id="right_scroll" class="fa-solid fa-circle-chevron-right"></i>
      </div>
    </div>

    <div class="pop_song" id="list-categories">
      <span *ngIf="playlists.length === 0" class="text-warning" style="color: yellow">There are no playlist here</span>

      <li class="songItem" *ngFor="let playlist of playlists">
        <div class="img_play" (click)="a(playlist.id)">
          <img src="assets/img/client/explore/How_to_clear_Spotify_queue.png" alt="alan"/>
          <i class="bi fa-solid fa-circle-play" i="1"></i>
        </div>
        <h5>
          <p class="line-clamp">Title: {{ playlist.name }}</p>

          <div class="subtitle line-clamp line-2">
            Date Created: {{ playlist.likeDate | date:'yyyy-MM-dd' }}
          </div>
        </h5>
        <!--        <i class="fa-solid fa-trash-alt" (click)="deletePlaylist(playlist)"></i> &nbsp;&nbsp;-->
        <a (click)="deletePlaylist(playlist)" class="btn btn-outline-success w-100">Delete</a>
      </li>

    </div>


  </div>

  <!--  -->
</div>
