<div class="detail-container">
  <div class="detail-container-banner" id="category-detail">
    <div class="detail-container-banner-first">
      <img src="assets/img/client/explore/hiphop.png" alt=""/>
      <div class="detail-container-banner-content">
        <h1>{{ this.acc?.fullname }}</h1>
        <p>Created by {{ this.acc?.fullname }}</p>
        <p>
          The best HIP-HOP tracks of 2023, so far,
          from J.Cole to Eminem.(Cover: ....)
        </p>
        <p>30 TRACKS (4:30:20)</p>
      </div>
    </div>
  </div>
</div>

<div class="list-tracks">
  <div class="list-tracks-form-search">
    <input type="search" name="search-music" id="" placeholder="Filter playlist on title, artist or album"
           class="search"/>
    <div class="icon-search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <!---->

  <div class="popular_song">
    <div class="h3">

      <h3>Explore your playlists</h3>
      <div class="btn_s">
        <i id="left_scroll" class="fa-solid fa-circle-chevron-left"></i>
        <i id="right_scroll" class="fa-solid fa-circle-chevron-right"></i>
      </div>
    </div>

    <div class="pop_song" id="list-categories">
      <li class="songItem">
        <div class="img_play">
          <img src="assets/img/client/explore/hiphop.png" alt="alan"/>
          <i class="bi fa-solid fa-circle-play" i="1"></i>
        </div>
        <h5>
          <p class="line-clamp">HIPHOP: Best of 2023</p>

          <div class="subtitle line-clamp line-2">
            Created by: QMUSIC
          </div>
        </h5>
      </li>

    </div>
  </div>

  <!--  -->
</div>
