<div class="detail-container">
  <div class="detail-container-banner" id="category-detail">
    <div class="detail-container-banner-first">
      <img src="assets/img/client/explore/hiphop.png" alt="" />
      <div class="detail-container-banner-content">
        <h1>HIP-HOP</h1>
        <p>Created by QMUSIC</p>
        <p>
          The best HIP-HOP tracks of 2023, so far,
          from J.Cole to Eminem.(Cover: ....)
        </p>
        <p>30 TRACKS (4:30:20)</p>
      </div>
    </div>

    <div class="detail-container-banner-favicon">
      <div class="detail-container-banner-favicon-cta">
        <button>
          <i class="fa-solid fa-play"></i>Play
        </button>
        <button>
          <i class="fa-solid fa-shuffle"></i>Shuffle
        </button>
      </div>
      <div class="detail-container-banner-favicon-more">
        <div class="more-item">
          <i class="fa-regular fa-heart"></i>
          Add
        </div>
        <div class="more-item">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
          Share
        </div>
        <div class="more-item">
          <i class="fa-solid fa-ellipsis"></i>
          More
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-tracks">
  <div class="list-tracks-form-search">
    <input type="search" name="search-music" id="" placeholder="Filter playlist on title, artist or album"
      class="search" />
    <div class="icon-search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>TITLE</th>
        <th>ARTIST</th>
        <th>LISTS</th>
        <th>TIME</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="list-songs-detail">
      <tr *ngFor="let song of songs">
        <td>
          <img src="assets/img/client/keshi.jpg" alt="" />
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">{{ song.name }}</div>
          </div>
        </td>
        <td>Keshi</td>
        <td>POP</td>
        <td>3:15</td>
        <td>
          <i class="fa-solid fa-plus" (click)="openDialog(song)"></i>&nbsp;&nbsp;
          <i class="fa-regular fa-heart"></i>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/client/whatitis.jpg" alt="" />
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">What it is</div>
            <span class="table-song-type">MASTER</span>
          </div>
        </td>
        <td>Doechi</td>
        <td>Hip Hop</td>
        <td>3:12</td>
        <td>
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
          <i class="fa-regular fa-heart"></i>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/client/norolemodelz.jpg" alt="" />
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">
              No role modelz
            </div>
            <span class="table-song-type">MASTER</span>
          </div>
        </td>
        <td>J. Cole</td>
        <td>Hip Hop</td>
        <td>3:12</td>
        <td>
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
          <i class="fa-regular fa-heart"></i>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/client/swimmingpools.jpg" alt="" />
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">
              Swimming Pools (Drank)
            </div>
            <span class="table-song-type">MASTER</span>
          </div>
        </td>
        <td>Kendrick Lamar</td>
        <td>Hip Hop</td>
        <td>3:12</td>
        <td>
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
          <i class="fa-regular fa-heart"></i>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/client/1-800.jpg" alt="" />
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">
              1-800-273-8255
            </div>
            <span class="table-song-type">MASTER</span>
          </div>
        </td>
        <td>Logic, Alessia Cara, Khalid</td>
        <td>Hip Hop</td>
        <td>3:12</td>
        <td>
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
          <i class="fa-regular fa-heart"></i>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/client/whatitis.jpg" alt="" />
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">What it is</div>
            <span class="table-song-type">MASTER</span>
          </div>
        </td>
        <td>Doechi</td>
        <td>Hip Hop</td>
        <td>3:12</td>
        <td>
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
          <i class="fa-regular fa-heart"></i>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/client/norolemodelz.jpg" alt="" />
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">
              No role modelz
            </div>
            <span class="table-song-type">MASTER</span>
          </div>
        </td>
        <td>J. Cole</td>
        <td>Hip Hop</td>
        <td>3:12</td>
        <td>
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
          <i class="fa-regular fa-heart"></i>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/client/swimmingpools.jpg" alt="" />
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">
              Swimming Pools (Drank)
            </div>
            <span class="table-song-type">MASTER</span>
          </div>
        </td>
        <td>Kendrick Lamar</td>
        <td>Hip Hop</td>
        <td>3:12</td>
        <td>
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
          <i class="fa-regular fa-heart"></i>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/client/1-800.jpg" alt="" />
        </td>
        <td>
          <div class="table-title">
            <div class="line-clamp">
              1-800-273-8255
            </div>
            <span class="table-song-type">MASTER</span>
          </div>
        </td>
        <td>Logic, Alessia Cara, Khalid</td>
        <td>Hip Hop</td>
        <td>3:12</td>
        <td>
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;
          <i class="fa-regular fa-heart"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>