<!-- Form Start -->
<ng-toast></ng-toast>
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-12">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4 text-uppercase">User management</h6>

        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <div class="mb-3">
            <input type="text" class="form-control" hidden [(ngModel)]="Account.id" name="id" />
          </div>
          <div class="mb-3">
            <label class="form-label">Fullname</label>
            <input type="text" class="form-control" [(ngModel)]="Account.fullname" name="fullname" />

          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input readonly type="email" class="form-control text-dark" [(ngModel)]="Account.email" name="email"
              id="email" />
          </div>

          <div class="mb-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control calendar-icon-white" [(ngModel)]="Account.birthday" name="birthday"
              id="birthday" required (input)="registerForm.form.markAsTouched(); checkAge()" />

            <div class="divider-nospace"></div>
          </div>
          <div class="mb-3">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" [(ngModel)]="Account.address" name="address" />
          </div>
          <label class="form-label">Active</label> <br />

          <div class="btn-group mb-3" role="group">
            <input type="radio" class="btn-check" name="active" id="btnradio1" autocomplete="off" checked [value]="true"
              [(ngModel)]="Account.active" />
            <label class="btn btn-outline-primary" for="btnradio1">Active</label>

            <input type="radio" class="btn-check" name="active" id="btnradio3" autocomplete="off"
              [(ngModel)]="Account.active" [value]="false" />
            <label class="btn btn-outline-primary" for="btnradio3">Inactive</label>
          </div>


          <div class="mb-3">
            <label class="form-label">Role</label><br>


            <span *ngIf="readOnlyMode">{{ Account.accountRole?.name }}</span>


            <button type="button" (click)="toggleMode()" class="btn btn-link">{{
              readOnlyMode ? 'Edit' : 'Cancel'
              }}
            </button>


            <div *ngIf="!readOnlyMode" class="btn-group" role="group">
              <div class="mb-3">
                <label class="form-label">Role</label><br>
                <ng-container *ngFor="let role of Roles">
                  <div class="" *ngIf="!(role.name == 'admin')">
                    <input type="radio" id="{{role.id}}" name="role" [(ngModel)]="Account.accountRole" [value]="role">
                    <label for="{{role.id}}">{{ role.name }}</label><br>
                  </div>
                </ng-container>
              </div>
            </div>

          </div>


          <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
          <br />
          <label class="form-label">Avatar</label>
          <div class="file-upload">
            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
              Image
            </button>
            <div class="image-upload-wrap">
              <input class="file-upload-input" type='file' #fileInput (change)="onFileSelected($event)"
                accept="image/*" />

              <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
              </div>
            </div>

            <div class="file-upload-content">
              <img class="file-upload-image" ignorePerformanceWarnings [src]="imageUrl" alt="{{imageUrl}}" />
              <div class="image-title-wrap">
                <button type="button" (click)="removeUpload()" class="remove-image">Remove <span
                    class="image-title">Uploaded Image</span>
                </button>
              </div>
            </div>
          </div>

          <br />
          <button (click)="updateUser()" class="btn btn-dark">Update</button>
          <button (click)="deleteUser()" class="btn btn-danger">Delete</button>
          <button class="btn btn-warning">Reset</button>
        </form>
      </div>
    </div>

    <div class="col-sm-12 col-xl-12">
      <div class="bg-secondary rounded h-100 p-4">
        <input type="text" class="form-control mb-4 border-light border-2" style="border-radius: 20px"
          placeholder="Search by fullname" [(ngModel)]="searchTerm" (ngModelChange)="search()"
          (keyup)="onKey($event)" />
        <h6 class="mb-4">USER LIST</h6>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Series</th>
              <th scope="col">Fullname</th>
              <th scope="col">Email</th>
              <th scope="col">Birthday</th>
              <th scope="col">Gender</th>
              <th scope="col">Image</th>
              <th scope="col">Address</th>
              <th scope="col">Created Date</th>
              <th scope="col">Active</th>
              <th scope="col">Action</th>
            </tr>
          </thead>

          <tbody *ngIf="Accounts.length > 0; else noActiveDataMessage">
            <ng-container *ngFor="let item of Accounts; let i = index">
              <ng-container *ngIf="item.accountRole?.name !== 'admin'">
                <tr *ngIf="item.active">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.fullname }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.birthday | date:'yyyy-MM-dd' }}</td>
                  <td>{{ item.gender ? 'Male' : 'Female' }}</td>
                  <td><img src="{{ item.avatar_url }}" alt="{{ item.avatar_url }}" width="70" height="70"></td>
                  <td>{{ item.address }}</td>
                  <td>{{ item.createdDate | date:'yyyy-MM-dd' }}</td>
                  <td>{{ item.active ? 'Active' : 'Inactive' }}</td>
                  <td>
                    <button (click)="view(item.id!)" class="btn btn-primary">Detail</button>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>

          <ng-template #noActiveDataMessage>
            <tr>
              <td colspan="10">
                <p class="text-center text-danger">No active users available.</p>
              </td>
            </tr>
          </ng-template>
        </table>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Series</th>
              <th scope="col">Fullname</th>
              <th scope="col">Email</th>
              <th scope="col">Birthday</th>
              <th scope="col">Gender</th>
              <th scope="col">Image</th>
              <th scope="col">Address</th>
              <th scope="col">Created Date</th>
              <th scope="col">Active</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="this.Accounts.length > 0; else noInactiveDataMessage">
            <ng-container *ngFor="let item of this.Accounts; let i = index">
              <tr *ngIf="!item.active">
                <td>{{ i + 1 }}</td>
                <td>{{ item.fullname }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.birthday | date:'yyyy-MM-dd' }}</td>
                <td>{{ item.gender ? 'Male' : 'Female' }}</td>
                <td><img src="{{ item.avatar_url }}" alt="{{ item.avatar_url }}" width="70" height="70"></td>
                <td>{{ item.address }}</td>
                <td>{{ item.createdDate | date:'yyyy-MM-dd' }}</td>
                <td>{{ item.active ? 'Active' : 'Inactive' }}</td>
                <td>
                  <button (click)="Reset(item.id!)" class="btn btn-outline-success">Restore</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <ng-template #noInactiveDataMessage>
            <tr>
              <td colspan="10">
                <p class="text-center text-danger">No inactive users available.</p>
              </td>
            </tr>
          </ng-template>
        </table>
        <div class="d-flex justify-content-center">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item" *ngIf="page > 0">
                <a class="page-link" (click)="Page(0)">First</a>
              </li>
              <li class="page-item" *ngIf="page > 0">
                <a class="page-link" (click)="Page(page - 1)">
                  <i class="fa fa-chevron-left"></i>
                </a>
              </li>
              <ng-container *ngFor="let page of visiblePages">
                <li class="page-item" [ngClass]="{'active': page === page + 1}">
                  <a class="page-link" (click)="Page(page - 1)">{{ page }}</a>
                </li>
              </ng-container>
              <li class="page-item" *ngIf="page < total - 1">
                <a class="page-link" (click)="Page(page + 1)">
                  <i class="fa fa-chevron-right"></i>
                </a>
              </li>
              <li class="page-item" *ngIf="page < total - 1">
                <a class="page-link" (click)="Page(total - 1)">Last</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Form End -->